@{
}

<div class="card">
    <div class="card-body">
        <h2>Bizimle İletişime Geçin</h2>
        <img style="width: 75%; margin: 0 auto; display: block;" src="~/images/placeholder.png" />
        <p>Soru ve geri bildirimleriniz için iletişime geçin.</p>
    </div>
    <div class="card-footer">
        <a asp-area="" asp-page="/Contact" class="btn btn-outline-success">Bizimle İletişime Geçin</a>
    </div>
</div>