@model string

<div class="card">
    <div class="card-body">
        <h2>@Model</h2>
        <div class="description">
            <p>İndirimlerden haberdar olmak için takipte kalın</p>
            <ul>
                <li>Kuponlar ve promosyonlar</li>
                <li>Size özel indirimler</li>
            </ul>
        </div>
        <img class="img-fluid rounded" src="~/images/download-small.png" alt="">
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-outline-success">İndir</a>
    </div>
</div>