@{
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Ürün Satış</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-page="/Index">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Product">Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Cart">Sepet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Order">Siparişler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Contact">İletişim</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Arayınız...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" asp-area="" asp-page="/Cart">
                    <i class="fa fa-shopping-cart"></i> Sepet
                    <span class="badge badge-light">1</span>
                </a>
            </form>
        </div>
    </div>
</nav>